[2021-11-21 18:17] vitaly-t opened #16 "Error handlers should be able to return nothing"
Initial implementation of error handlers ([catchError] operator) requires that the callback either throws an error, or returns a compatible-type value.

This seems to have a logical flaw. Catch-error callbacks should be allowed to return nothing and not throw any error, and that should result in skipping the value that resulted in an error.

A change is required for this, which will be a breaking

[2021-11-21 19:52] vitaly-t commented on #16
This has been implemented and released with version 0.4.0, as a breaking change.

Now each error handler gets a new callback signature - see [https://github.com/vitaly-t/iter-ops/blob/main/src/ops/catch-error.ts]

And by default, the value that produced the error is simply skipped. And if you want a replacement value, you need to call `ctx.emit(value)`.

[2021-11-21 19:52] #16 closed

[2021-12-03 19:18] vitaly-t opened #33 "Indexes for split operator"
Callback parameter `index = {start, list, split}` for operator [split], may need some work. Property `start` is definitely all good, but `list` and `split` may need some adjustment. They work as far as all the tests go, but I'm not sure if tests for `list` and `split` are all correct.

This is not necessarily a bug, just something that needs another close look into.

[split]:https://github.com/vit

[2021-12-05 02:22] vitaly-t commented on #33
This has been amended and released in version 0.6.1

Indexes `list` and `split` are no longer optional, and cannot be `undefined`, they now always start with 0.

[2021-12-05 03:27] vitaly-t commented on #33
Reopening, because after more testing, I feel no confidence that it is working correctly even for the carry logic.

This is one problematic operator, because its logic is complex, and writing correct tests for it is even more complex, i.e. I'm not sure the current tests are good.

[2021-12-05 19:41] vitaly-t commented on #33
Made some improvements in v0.6.2 for all this:

* carrying logic works as expected
* some improvements on the default `list` index.

Some other tricky cases for the indexes remain a mystery, because their logic is incredibly convoluted, when it comes to accounting all the value carrying strategies. Can't feel certain what it should be in one case or the other.

If somebody wants to help, you are w

[2021-12-18 10:22] vitaly-t opened #61 "Async Combine Operator :fire:"
I've tried, within [combine](https://github.com/vitaly-t/iter-ops/blob/combine/src/ops/combine.ts#L103) branch, to implement an asynchronous version of the `combine` operator, but without success.

Help is very much wanted with this. See [my notes in the main branch](https://github.com/vitaly-t/iter-ops/blob/main/src/ops/combine.ts#L111).

That's why, a synchronous-only version was released in v1.

[2021-12-18 12:43] vitaly-t commented on #61
The answer by Bergi [here](https://stackoverflow.com/questions/50585456/how-can-i-interleave-merge-async-iterables/50586391) might be of help.

[2021-12-19 06:16] vitaly-t commented on #61
Version 1.3.2 received the first async implementation of the [combine](https://vitaly-t.github.io/iter-ops/index.html#combine) operator. All main tests were included, however need more comprehensive testing, for race conditions and error handling.

[2021-12-19 09:14] vitaly-t commented on #61
More testing showed that async `combine` in v1.3.2 doesn't really work right 😭

[2021-12-19 14:39] vitaly-t commented on #61
Removed operator `combine` from the library entirely, in version 1.4.0, as it brought nothing but trouble.

[2021-12-19 18:34] FaberVitale opened #64 "[Docs][typedoc] Code section is unreadable"
caused by `--code-bg` defined in custom.css

#### With `--code-bg`

<img width="849" alt="Screenshot 2021-12-19 at 19 31 05" src="https://user-images.githubusercontent.com/16583125/146686642-754390ba-5df6-422f-8187-30a9ef9731a2.png">

#### Without `--code-bg`

<img width="610" alt="Screenshot 2021-12-19 at 19 33 51" src="https://user-images.githubusercontent.com/16583125/146686728-e39f2c81-e34e-45

[2021-12-19 23:29] vitaly-t commented on #64
Ouch! I wasn't aware that one could somehow override the help palette like that. Could you, please tell me how I can achieve the same, for later tests? (I'm using Windows 10) Thank you!

In the meantime, I have updated it - let me know, please, if it looks ok for you now ;)

[2021-12-20 20:16] FaberVitale commented on #64
👍

<img width="864" alt="Screenshot 2021-12-20 at 21 15 42" src="https://user-images.githubusercontent.com/16583125/146827297-f3274862-9f55-4563-a749-5fe73d0aae38.png">

[2021-12-21 04:54] vitaly-t commented on #64
Great, closing it then 😄

[2021-12-21 04:54] #64 closed

[2021-12-21 05:05] vitaly-t opened #66 "Extend boolean predicates for Promise<boolean>"
All operators that provide a callback for a `truthy/falsy` value, should also support return of `Promise<boolean>` within an asynchronous pipeline:

* `filter` - done in **v1.4.3**
* `indexBy` - done in **v1.4.3**
* `start` - done in **v.1.4.4**
* `stop` - done in **v.1.4.4**
* `first` - done in **v.1.4.5**
* `last` - done in **v.1.4.5**
* `some` - done in **v.1.4.6**
* `every` - done in **v.1.4.6

[2021-12-21 07:23] vitaly-t commented on #66
I've made a good start with this, and implemented the feature for operators [filter](https://vitaly-t.github.io/iter-ops/index.html#filter) and [indexBy](https://vitaly-t.github.io/iter-ops/index.html#indexBy) in 1.4.3 update.

The rest of the operators will be updated shortly.

[2021-12-21 08:24] vitaly-t commented on #66
Update 1.4.4 received this feature for operators [start](https://vitaly-t.github.io/iter-ops/index.html#start) and [stop](https://vitaly-t.github.io/iter-ops/index.html#stop). More to come.

[2021-12-21 09:52] vitaly-t commented on #66
Update 1.4.5 received this feature for operators [first](https://vitaly-t.github.io/iter-ops/index.html#first) and [last](https://vitaly-t.github.io/iter-ops/index.html#last). More to come.

[2021-12-21 13:38] alessiostalla opened #73 "ES6 target / ESM distribution"
Hi, would it be possible to release a version of the library compiled to ES6, so using and exporting native modules?
Recent versions of Angular complain about non-ESM dependencies (i.e. AMD or CommonJS).

[2021-12-21 14:10] alessiostalla commented on #73
Yeah I know I can use the library in an Angular project and safely ignore that warning, but since our customer will also see the warning, they may, in turn, complain ;)
What people usually do in such cases in the Java world is to generate multiple artifacts from the same project, such as, foo-with-bar-v1.0.0.jar, foo-no-bar-v1.0.0.jar. I don't know the convention in JS/TS and I have no idea how ha

[2021-12-21 14:11] vitaly-t commented on #66
Update 1.4.6 received this feature for operators [some](https://vitaly-t.github.io/iter-ops/index.html#some) and [every](https://vitaly-t.github.io/iter-ops/index.html#every).

There's now only operator [split](https://vitaly-t.github.io/iter-ops/index.html#every) left.

[2021-12-21 14:15] vitaly-t commented on #73
I recall actually trying to add that ESM compliance, for another project, got stuck, even asked on StackOverflow about it (will link the question, if I find it), and there was something about Angular not a real ESM-compliance or something, I do not quite remember right now.

I will have another look at it later on. But if you want to try it yourself in the meantime, you're most welcome!

[2021-12-21 14:41] vitaly-t commented on #73
@alessiostalla I wrote wrong before, the library's distribution comes with `ES2015`, which is equivalent for `ES6`.

![image](https://user-images.githubusercontent.com/5108906/146948123-3b834f27-e753-412d-8cdc-6898c0deda1c.png)

[2021-12-21 15:34] alessiostalla commented on #73
Oh, nice. I'll do more tests on my part, maybe I've misreported this.

[2021-12-21 16:04] vitaly-t commented on #66
With v1.4.7, this feature is now fully finished.

[2021-12-21 16:04] #66 closed

[2021-12-21 17:26] vitaly-t opened #76 "Replace async page+spread operators with promise implementation"
Async operators `page` and `spread` should be easy to replace with promise-only implementation, for maximum performance.

Review the rest of async syntax.

[2021-12-21 20:08] FaberVitale commented on #73
This project is really cool but the lack of esm module version makes it hard to consider as a valid alternative to rxjs in a client-side project because it is not tree-shakable.

Tree-shaking, aka the removal of unused code, is not possible for the following reasons:

1. This project does not expose an esm module version
2. This project that does not have `side-effects: false` in `package.json`

P

[2021-12-22 03:49] vitaly-t commented on #73
Would love one, thank you!!!

[2021-12-22 08:21] vitaly-t commented on #76
This has been done and released in version 1.4.8

[2021-12-22 08:21] #76 closed

[2021-12-22 14:58] vitaly-t commented on #73
Thanks to @RebeccaStevens, this issue has been pretty much resolved, pending some extra documentation + tests on my end.

[2021-12-22 14:59] RebeccaStevens commented on #73
The `sideEffects` field in package json hasn't been set to false yet.

[2021-12-22 15:18] vitaly-t commented on #73
* `sideEffects` added
* circular dependencies resolved

Looks almost ready :)

[2021-12-22 15:26] FaberVitale commented on #73
Adding the "exports" in package.json is a **breaking** change!
You should bump version to `2.x.x` before releasing a new version.

### Node std warning

[code]

source: https://nodejs.org/api/packages.html#package-entry-points

See also

- https://nodejs.org/api/packages.html#determining-module-system
- https://github.com/then/is-promise/issues/19

[2021-12-22 15:28] vitaly-t commented on #73
@FaberVitale Fair enough, this is something to consider before going with the official release :)

In the meantime, I've just wrapped this all up and published a `1.5.0-beta.0`

[code]

or perhaps just:

[code]

Please give it a test, and let me know ;) My own tests with Angular were all pass ;)

[2021-12-22 15:41] FaberVitale commented on #73
### bundlephobia

<img width="801" alt="Screenshot 2021-12-22 at 16 31 16" src="https://user-images.githubusercontent.com/16583125/147116440-12ada94c-2df6-41c4-8265-5314925fe127.png">

link: https://bundlephobia.com/package/iter-ops@1.5.0-beta.0

[2021-12-22 15:47] vitaly-t commented on #73
Looks like we did do something awesome 😸

[2021-12-22 16:28] vitaly-t commented on #73
And if we go for broke, and include absolutely everything, it is still a very manageable 4kb 😄

![image](https://user-images.githubusercontent.com/5108906/147124357-7a99757e-d8ae-4ab5-8c71-e29cb64ab613.png)

[2021-12-22 16:42] vitaly-t commented on #73
I wouldn't be paying much attention to this. After all, this whole package is still very new anyhow. I think we will be fine going with 1.5.0 when it is finalized.

[2021-12-22 18:02] vitaly-t commented on #73
Version 1.5.0 has been released. This issue is no more.

[2021-12-22 18:02] #73 closed

[2021-12-23 18:46] vitaly-t commented on #73
Just so, 1.5.0 missed some declarations `.d.ts` that were patched in v1.5.1

@FaberVitale Were you ok using it?

[2021-12-28 04:07] RebeccaStevens opened #85 "Unnecessary aliasing"
Aliasing `Symbol.iterator` and `Symbol.asyncIterator` to shorter names no longer has any benefit. `Terser` will automatically take care of this.

https://github.com/vitaly-t/iter-ops/blob/40315f0ae8db04ead28b63ec7fee845638055928/src/types.ts#L133-L137

[2021-12-28 08:28] vitaly-t commented on #85
Are you sure? Symbols are a special case. I saw those symbols repeated many times inside the minified output files.

[2021-12-28 08:58] vitaly-t commented on #85
@RebeccaStevens With all your great help here, I took the liberty of putting your name on the list of contributors [here](https://github.com/vitaly-t/iter-ops/blob/main/package.json#L48).

Please let me know you're ok with that, before I publish the update ;)

[2021-12-28 09:09] RebeccaStevens commented on #85
That's all good with me, thanks 😄

There's a bit of refactoring work I want to make to this project too, if that's ok with you. I'll follow all your styling decisions so if you want to keep things like the aliasing mentioned in this issue, that all good with me.

[2021-12-28 09:22] vitaly-t commented on #85
Cool, we're on the same page here :smile:

[2021-12-28 12:16] RebeccaStevens opened #95 "is Promise or is Promise-like?"
Should this be checking if the type is a Promise (as the name suggests) or if it is just Promise-like (as the implementation suggests)?

https://github.com/vitaly-t/iter-ops/blob/523b5880ac54d1bd9759f09da01c23cd76ea7b97/src/utils.ts#L112-L117

The following part of the code would indicated that it's supposed to check that it is an actual Promise (due to the return type of the `next` function).

ht

[2021-12-28 12:22] vitaly-t commented on #95
Strictly speaking, yes, it is a promise-like check. But since that's an internal function, not exposed by the library, it probably doesn't make any difference.

[2021-12-28 12:26] RebeccaStevens commented on #95
I believe that if it is supposed to work as promise-like then the typing in some other places needs to be changed from Promise to PromiseLike. I'll look into this more tomorrow when I tackle trying to remove all the anys.

[2021-12-28 12:27] vitaly-t commented on #95
I have fixed linting issues + added comments for `isPromise` ;)

[2021-12-28 12:32] vitaly-t commented on #95
Ok, I have renamed it :smile:

[2021-12-28 12:32] #95 closed

[2021-12-28 12:47] vitaly-t commented on #95
@RebeccaStevens I have fixed a couple of test issues (timing-specific issues on Linux), and released 1.6.2 update :wink:

Thank you for all the work you've put into this! 👍

[2021-12-28 15:25] vitaly-t commented on #85
I think this one has been concluded ;)

[2021-12-28 15:25] #85 closed

[2021-12-29 09:39] RebeccaStevens opened #100 "This doesn't look right"
https://github.com/vitaly-t/iter-ops/blob/f752a64c3fc3990850b5caa5374e3796b805c3e3/src/helpers.ts#L144-L162

So the code is saying:
If the value to get an iterable of is a promise. Wait for the process to fulfill. Return the promise's result wrapped in an iterator result; marked as not the last element of the iterator. The next value of the iterator is `undefined` and is the last element of the it

[2021-12-29 11:08] vitaly-t commented on #100
Nope, everything there is exactly by design, including the test.

You can test it locally, give it a promise, and see how it works ;)

[2021-12-29 11:18] RebeccaStevens commented on #100
In that case, why isn't the iterator just like this:

[code]

[2021-12-29 11:19] vitaly-t commented on #100
Because that way the iterator has no termination logic at all, it's iternal :smile:

[2021-12-29 11:23] RebeccaStevens commented on #100
Ahh, right. Just me misremembering how iterators work

[2021-12-29 11:26] vitaly-t commented on #100
That's why you should see a lot of `finish` - bound logic in the library, to explicitly separate a sequence of values from its termination value.

[2021-12-29 11:31] RebeccaStevens commented on #100
I believe there is a small bug though.

With the following line, if `i` is only `PromiseLike` then the return value is only guaranteed to be `PromiseLike`, not a `Promise`. But an `AsyncIterator`'s next function must return an actual `Promise` (at least according to the TypeScript typings).

[code]

[2021-12-29 11:34] vitaly-t commented on #100
I wouldn't consider it a bug, it's more like the thing we are not supposed to care about. We do only Promise-Like check for performance reasons. But documentation states everywhere that we work with promises only.

That promise-like check should be sufficient though.

[2021-12-29 11:54] RebeccaStevens commented on #100
hmmm, in that case; it might be best to change `isPromiseLike` back to `isPromise` and just add a note to say that it's not using `instanceof` for performance reasons.

[2021-12-29 12:06] vitaly-t commented on #100
Not just performance reasons, but also because `Promise` is often overridden by custom implementations, like `bluebird`.

I think at this point best is to leave it as is, it's not that important. After all, it is not part of the public API, it's just an internal implementation aspect.

[2021-12-29 12:12] RebeccaStevens commented on #100
I was going with the line of thought of custom implementations of promises not being of type `Promise`; but instead only being of type `PromiseLike`. Thus if `PromiseLike` isn't being supported then neither would custom implementations be.

[2021-12-29 12:19] RebeccaStevens opened #101 "Iterable made from an iterator can still only be iterated once"
I've just noticed another potential issue.

The iterable made from an iterator with this part of the code:

https://github.com/vitaly-t/iter-ops/blob/ccebb8e4530bc4de9a01f0143f86b534aba2e115/src/helpers.ts#L122-L143

would only be iterable once. As once the original iterator has been exhausted; any new iterator created from the iterable will also be exhausted.

If this function only internally use

[2021-12-29 12:25] vitaly-t commented on #101
The purpose of `toIterable` is to provide full type compatibility, so the pipeline can be type-casted correctly. It is not meant to create new iteration logic, because it is not even possible.

Think of promises, for example, a promise can only resolve once, and produce one value, once, that's it. The same for iterators, they cannot be iterated more than once, and we wrap them for compatibility re

[2021-12-29 12:28] RebeccaStevens commented on #101
I'll leave that function alone for now and focus else where. Maybe once I'm more familiar with the codebase; that function's purpose will click better for me.

[2021-12-29 13:02] #100 closed

[2021-12-30 10:43] RebeccaStevens opened #103 "optimizeIterable doesn't work with SharedArrayBuffer"
`ArrayBuffer` work but not `SharedArrayBuffer`.

[2021-12-30 10:45] RebeccaStevens commented on #103
[Fixed on here](https://github.com/RebeccaStevens/iter-ops/tree/shared-array-buffer) but this relies on #96 so I'll open a PR for it once that is merged.

[2021-12-30 10:48] vitaly-t commented on #103
I'm parking it here, for now, will return after New Year. Happy New Year! ;)

[2021-12-30 10:54] RebeccaStevens commented on #103
You too

[2021-12-31 07:28] RebeccaStevens opened #107 "Add operator flat"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flat

There is already the `spread` operator which is almost the same as `flat`; except that `spread `throws when it encounters a non-iterable while `flat` should keep the value as is.

For example:

[code]

Alternatively the behavior of `spread` could be altered to work like `flat`.

[2021-12-31 07:34] RebeccaStevens opened #108 "Add operator flatMap"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flatMap

Related to #107

There is already the `map` and `spread` operators which together is almost replicate the behavior of `flatMap` but I believe it would be best to add a specific `flatMap` operator; for the same reasoning `flatMap` was added to Array when it already had `map` and `flat`.

For example:

[c

[2021-12-31 07:37] RebeccaStevens opened #109 "Alias first as find"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find

`first` should be either aliased or renamed to `find` which is the name of the array method.
This library should use the same naming convention.

Note: with array's `find` the predicate is not optional.

[2021-12-31 12:20] RebeccaStevens commented on #109
https://github.com/vitaly-t/iter-ops/discussions/8

[2021-12-31 12:20] #109 closed

[2022-04-27 16:36] scallaway opened #118 "Typed with `undefined`"
I've stumbled across this library as we're finding that we're doing a lot of conversions from `x.values()` to arrays in order to then run the appropriate functions on them. I figured I'd give this library a go in order to reduce the amount of code that we have to write.

However, it seems that there _always_ appears to be a chance that `pipe` is going to return `undefined` for the `first` field (a

[2022-04-28 04:08] vitaly-t commented on #118
`first` always refers to the first value, and if there isn't any, it returns `undefined`.

If you need to make sure the `undefined` values are distinguished, you can simply remap the pipe into something like `{value}`:

[code]

Then you will only get `undefined` for the `first` when there are no values. Otherwise, you will have `{value: undefined}`.

[2022-04-29 13:28] scallaway commented on #118
Yeah that makes sense, I guess with `undefined` values I'm going to have to consistently check whether the value that I get back from `pipe` is indeed `undefined` or not. I've gone back through what I'd written before and adjusted it accordingly.

However, there is another problem with the way in which `IterableExt` works in more simple cases, which I think is due to the way it's typed (although I

[2022-09-28 02:33] vitaly-t commented on #108
@RebeccaStevens A little unrelated...

I really appreciate all the contribution you've done to this project, great job! I didn't intend to make it look abandoned, but the time was bad.

I've just done the initial come back to this project, updated all the dependencies, [documentation], etc. (small things). Currently, reviewing all the old PR-s and issues, to see how to pick it up again.

Just to l

[2022-09-28 04:13] vitaly-t commented on #118
Just spread the values:

[code]

[2022-09-28 04:13] #118 closed

[2022-09-28 04:17] RebeccaStevens commented on #108
I was actually just thinking about this project again. I'm keen to help.

[2022-09-28 04:40] vitaly-t commented on #108
Great! Thank you! In that case, could you, please, review your old PR-s, and let me know maybe the top 1, 2, 3 most important ones to be merged first, and see they do not have conflicts with the latest code. That would be a good start ;) Whenever you have time! Cheers!

[2022-09-28 21:33] vitaly-t commented on #107
The way `spread` works is consistent with how JavaScript's native `spread` operator works, i.e. it throws a similar error if you pass it a non-iterable.

For that reason, the only good option to consider is to add a separate `flat` operator.

[2022-09-28 21:40] vitaly-t commented on #108
The suggested `flatMap` would be much faster and simpler than the two operators, i.e. it would do everything in one loop, and not bother with throwing an error when a non-iterable is encountered.

It can make a good addition, once all other issues have been closed.

[2022-09-28 21:42] vitaly-t commented on #103
@RebeccaStevens
This needs to be re-visited 😉

[2022-09-28 21:46] vitaly-t commented on #101
@RebeccaStevens If you get a chance to review this again, I think perhaps we can close it. I don't think there is any issue here, it works as expected.

[2022-09-28 22:26] RebeccaStevens opened #120 "Yarn 3"
Do we want to update to yarn 3?

[2022-09-28 22:36] vitaly-t commented on #120
You are the one who added CI config, so I'm leaving it up to you 😉

[2022-09-28 22:39] RebeccaStevens commented on #120
Once consequence of update is that devs (you and me) will need to have yarn 3 install locally. I've got it set up, but I don't want to force you if you don't want it.

[2022-09-28 22:40] vitaly-t commented on #120
I don't mind ;)

[2022-09-28 22:42] RebeccaStevens commented on #120
alright, I make a PR

[2022-09-28 23:04] vitaly-t commented on #120
[Added](https://github.com/vitaly-t/iter-ops/pull/121).

[2022-09-28 23:04] #120 closed

[2022-09-29 02:39] renovate[bot] opened #128 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update dependency rollup to v3](../pull/150)

## Detected dependencies

<details><s

[2022-09-29 17:18] vitaly-t commented on #107
I have started working on this, within [branch flat](https://github.com/vitaly-t/iter-ops/tree/flat).

[2022-09-29 17:51] vitaly-t commented on #107
I was just thinking, that our `flat` implementation would be different from `Array.prototype.flat()`, because the latter does not split strings into letters, for example, while we probably should?

Operator `spread` will spread everything iterable. Now I'm trying to decide whether our `flat` should do the same or to be consistent with `Array.prototype.flat()`?

@RebeccaStevens What do you think?

[2022-09-29 19:05] vitaly-t commented on #107
Since I haven't quite decided, plus the recursive resolution (per optional `depth`) makes it way more complex an operator.

All my latest is inside `flat` branch, though it is not much yet. But if you want to have a go at it - you're most welcome!

[2022-09-29 22:16] RebeccaStevens commented on #107
I'll take a look at it and see what I can do.

If it proves too difficult, maybe we just drop this operator and have `flat` just be an alias for `spread`.

[2022-09-29 22:23] vitaly-t commented on #107
After having looked at the Array flat, it looks way different, as it supports nesting, plus doesn’t show errors. Nesting is the tricky part, it would be the first operator that requires recursion.

[2022-09-30 07:50] vitaly-t commented on #107
On my second take, I realized it is actually much simpler than I initially thought. In fact, it is even simpler than `spread` logic.

[2022-09-30 08:57] vitaly-t commented on #107
`flatSync` is finished and checked in, in branch `flat` ;)

`flatAsync` is yet to be done...

[2022-09-30 10:49] vitaly-t commented on #107
The async version is way more tricky, as it needs to handle (differently) both sync and async nested sub-iterables.

[2022-09-30 12:34] vitaly-t commented on #107
The async flat has been implemented.

What remains:

* Some code refactoring (feel free helping with that) @RebeccaStevens :wink:
* Documentation updates
* Better test coverage

[2022-09-30 14:35] vitaly-t commented on #107
I have published [2.0.0-beta.2](https://github.com/vitaly-t/iter-ops/releases/tag/2.0.0-beta.2) that includes [flat](https://vitaly-t.github.io/iter-ops/functions/flat.html) operator :wink:

[2022-09-30 20:58] vitaly-t commented on #107
Operator [flat](https://vitaly-t.github.io/iter-ops/functions/flat.html) is now fully finished.

@RebeccaStevens If you find any problem with it, we can open a new issue for it ;)

[2022-09-30 20:58] #107 closed

[2022-09-30 21:09] vitaly-t commented on #108
Now that we have the new [flat](https://vitaly-t.github.io/iter-ops/functions/flat.html) operator, the combination of `map` + `flat` exactly replicates `flatMap` logic, which reduces the need for adding a dedicated operator for it.

[2022-09-30 21:32] vitaly-t commented on #107
The only thing I do not like about this new operator is its name - `flat`.

All other operators in the library are either nouns that denote the result, or verbs - denoting the action. And `flat` doesn't do any of that, it's supposed to be `flatten`.

The only reason we called it `flat` is to have the visual match with the stupid [Array.prototype.flat()](https://developer.mozilla.org/en-US/docs/Web

[2022-09-30 23:11] vitaly-t commented on #107
Something I'm not sure about output types:

![image](https://user-images.githubusercontent.com/5108906/193367941-6deab414-11d4-4e53-aa3c-dbbc47fc5edd.png)

The type happens to depend on the `depth` parameter here, so I'm not sure what correct output template should be...

@RebeccaStevens Any idea?

[2022-10-01 00:02] RebeccaStevens commented on #107
Ah, that should be achieveable with overloads. Not sure if it can be generalized, will need to look into it.

[2022-10-04 06:59] vitaly-t opened #135 "Unknown type issue from Beta 4"
@RebeccaStevens

After PR #132, it seems, we start getting `unknown` type resolved...

![image](https://user-images.githubusercontent.com/5108906/193754777-d7501b68-20bd-4704-9c81-baa9db69921f.png)

See 2.0.0.0-beta 4 version published.

**UPDATE**

Actually, after some time, my IDE started showing `spread` with correct type, but not `flat`:

![image](https://user-images.githubusercontent.com/5108

[2022-10-04 07:32] RebeccaStevens commented on #135
Yeah, I suspected there would be problems like this. I'll be working on that next.
I'm working on finishing up the 5.0 release of `eslint-plugin-functional`.

[2022-10-05 18:33] vitaly-t commented on #135
After playing with it a bit more, I'm seeing my IDE (WebStorm) getting confused about types a lot. It was showing correctly for one operator, then suddenly stopped :) I don't know what to make of it :)

[2022-10-05 21:34] vitaly-t commented on #108
After another look into `flatMap` operator, here are two good reasons not to add one:

* Confusing name. One may think that `flatMap` is an operator that first flattens the data and then re-maps it, whereas in fact it is the other way round, the data is re-mapped before it is flattened. When used separately, you can do both, and without ambiguity, which means you can also flatten data and then re-

[2022-10-05 21:46] vitaly-t opened #138 "Sync operator map produces invalid indexes"
Indexes produced by synchronous operator `map` are supposed to be `0, 1, 2, etc`, but instead they are `1, 2, 3`.

The asynchronous version works correctly.

[2022-10-05 21:59] vitaly-t commented on #138
Wrong report, no ssiue there.

[2022-10-05 21:59] #138 closed

[2022-10-05 23:41] vitaly-t opened #140 "Documentation issue for `pipe` method"
PR #132 created a problem for generating documentation.

@RebeccaStevens You changed `pipe` signature from `function` to `const`, and `typedoc` cannot pick it up correctly anymore, the `pipe` is altogether skipped from documentation, which in turn results in unresolved links.

You can check for errors by running `npm run doc`.

[2022-10-06 00:12] vitaly-t commented on #140
Also, I noticed that for some methods, you copied inline documentation for sync + async. I'm not sure I see the benefit of it, duplicating documentation. Plus that extra category `Async`, in addition to already sufficient `Async-Only`.

I think it is simpler to keep just one documentation block per operator, and leave as `Sync+Async` category by default.

[2022-10-07 10:32] RebeccaStevens commented on #108
`flatMap` is a function I use on arrays quite a lot. The main reason I really want it is because it make the code a lot more readable.

[code]

[2022-10-07 10:53] RebeccaStevens commented on #108
Also, I'm all for renaming the `flat` operator to `flatten` as that is the more commonly used term when it comes to functional programming.

[2022-10-07 13:41] RebeccaStevens opened #143 "Type issues"
I've looked into the type issues we are having, and it seems like we may be hitting a TypeScript bug. I've made an [issue here](https://github.com/microsoft/TypeScript/issues/51092).

I'll see if I can come up with a work-around.

[2022-10-07 13:45] RebeccaStevens commented on #143
Looks like we'll have to avoid creating any intersections of functions.

[2022-10-07 13:56] RebeccaStevens commented on #143
This definition seems to resolve most type issues:

[code]

However, it isn't "correct" and thus if we go with it, we'd want to only use it internally (not export it). I'll see if I can come up with a better solution.

[2022-10-07 14:39] RebeccaStevens commented on #143
I think the only way to properly get around this issue is to split all operations into explicit sync and async version. However, this will not be as elegant, so I understand not wanting to take this approach.

Originally, I was hoping that splitting the `pipe` function into a sync and async version would be enough, but unfortunately not. I would still however recommend keeping the split pipelines

[2022-10-08 03:08] vitaly-t commented on #108
Fair enough,... I'm not sure if I will have the time to get it properly done...

But I created branch `flat-map`, in which I have implemented the sync version of it (draft, without tests).

Feel free to pick it up, if you want ;)

[2022-10-08 06:33] vitaly-t commented on #108
**UPDATE:** I have added the async also, seems working, but needs proper tests.

[2022-10-08 18:56] RebeccaStevens commented on #143
@vitaly-t I've done a bunch more looking into this and things aren't looking great 😕

I've spent the last 8 hours or so converting all the function overloads to a single function definition that uses conditional types in hope that this would get around the TypeScript limitation/bug. This involved having to change the definition of `AsyncOperation` and `SyncOperation` as well as completely removing

[2022-10-08 18:58] RebeccaStevens commented on #143
Also, splitting the operations will allow for the sync and async versions to be tree-shaken from each other, thus this would be a performance optimization.

[2022-10-08 20:11] vitaly-t commented on #143
Please remind me, what was the initial issue of changing so much code that's in the current v1.6.4 release? Did the types not work there correctly?

[2022-10-09 00:08] vitaly-t commented on #108
I did some refactoring + added empty tests. I cannot run tests presently anyway 😢

[2022-10-09 15:19] RebeccaStevens commented on #143
The types "work" there but not in all cases. These cases are what I'm trying to fix. Fixing them should also allow for all of the `any`s and casts to be removed from the code base. Currently they can't be as TypeScript will then detect the cases where they don't work and complain.

I plan on adding a bunch more type test to test the types. The current type tests are just "happy path" tests.

It's

[2022-10-09 21:24] vitaly-t commented on #143
I tried everything in the updated master branch, including deleting all temporary folders and reinstalling, but tests still won't run anymore:

![image](https://user-images.githubusercontent.com/5108906/194780027-1699ffce-cc51-436f-96ba-a2045e30e549.png)

There's some issue with the `rollup` library. I'm investigating...

[2022-10-09 21:25] vitaly-t commented on #143
`npm run doc` in `master` also doesn't work anymore:

![image](https://user-images.githubusercontent.com/5108906/194780137-c8d08483-0897-4441-992f-859fab02e977.png)

[2022-10-10 01:56] vitaly-t commented on #143
After looking a little closer into issues with running tests....

Rather than running the combines `npm test`, and tried separate `npm run test:js` and `npm run test:types`, and it is only the latter that fails for me, while the former is running fine.

[2022-10-10 03:57] vitaly-t commented on #108
Now that I at least was able to run `npm run test:js`, I have added all the required tests for `flatMap`.

[2022-10-10 15:50] RebeccaStevens commented on #143
Are you able to run `yarn build`?

[2022-10-10 23:47] vitaly-t commented on #143
Yep, all issues look resolved 😄

[2022-10-11 03:46] vitaly-t commented on #108
The operator has been merged into `master`.

[2022-10-11 04:04] vitaly-t commented on #143
And then a little later, the issue with documents came back again, no idea why, as I didn't change anything...

![image](https://user-images.githubusercontent.com/5108906/194994629-8dc299c8-3ce1-47c5-8c4b-5616658048dc.png)

Any idea why this keeps happening?

[2022-10-11 04:19] vitaly-t commented on #143
I researched it, and I was able to fix it by adding the following dependency:

[code]

[2022-10-12 04:20] vitaly-t commented on #143
@RebeccaStevens

What's your current plan for the project? If we cannot make progress for the types, then maybe we should just focus on what's at hand - revise types and code for `flat` + `flatMap`, and make another Beta? :wink:

[2022-10-12 06:57] RebeccaStevens commented on #143
I'll prioritize working on those with the current type system.

What were the breaking changes btw?

[2022-10-12 07:00] RebeccaStevens commented on #120
@vitaly-t Could you confirm that you are using yarn 3?
Yarn 1 lock files seems to be getting checked in.

[2022-10-12 08:11] vitaly-t commented on #143
I didn't introduce any, there were only two new operators added.

You, however, mentioned breaking change through some type addition/change in #124. That was the whole reason I started 2.0.0 Beta versions. Please review those. And if you think we do not really have any breaking change, then there is no reason to up the version, and I can release 1.7.0 instead.

[2022-10-12 08:18] RebeccaStevens commented on #143
Ahh, right. It's quite a simple change but yeah, it is breaking so we should do a major release.

[2022-10-12 08:20] vitaly-t commented on #143
Great thanks! So let me add some docs here for the new operators + in general, and maybe you can look into #103 in the meantime, since you reported it? Then we can release 2.0.0, or at least I will do one more Beta first :wink:

[2022-10-12 08:23] RebeccaStevens commented on #120
This is used by `corepack` which is an opt-in feature of node.

To enable `corepack`, if you are using node 16.10 or newer, run `corepack enable`. This will also enable yarn 3 for you.

https://yarnpkg.com/getting-started/install#nodejs-1610

[2022-10-12 08:25] RebeccaStevens commented on #143
Will do.

#151 should fix the types for `flat`

[2022-10-12 08:25] vitaly-t commented on #120
Cool, that worked like a charm ;)

[2022-10-12 23:49] vitaly-t opened #156 "Removing async/await code"
When I started on this library, a lot of time asynchronous implementation was simply copied from synchronous, with added `async/await`  usage, in order to save time (plus some operators have fairly complex logic).

However, performance tests showed that native `.then.catch` solution performs way better than `async/await`, so I've been converting async operators to use `.then.catch` syntax only (se

[2022-10-13 00:04] RebeccaStevens commented on #156
I'm actually kind of curious whether using callbags would be the best approach. They're super performant and might even be able to dedup a lot of commonalities between the sync and async code.

[2022-10-13 00:09] vitaly-t commented on #156
I do not see how callbacks can be used there, since every operator is expected to return a Promise.

[2022-10-13 00:38] RebeccaStevens commented on #156
Checkout this talk: https://www.youtube.com/watch?v=Ir9-EBbc9fg&t=1s

[2022-10-13 05:40] vitaly-t commented on #156
It would take a bit of research to see if that would even be possible to use, given this library's objectives and current function. And if it were, this issue here is about the implementation aspect, strictly. I prefer to keep it simple.

[2022-10-13 05:46] vitaly-t commented on #135
@RebeccaStevens Just re-tested it against v2.0.0-beta.6

Looks like types for `flat` and `flatMap` are resolved correctly now, but not for `spread`, which produces `unknown` type.

![image](https://user-images.githubusercontent.com/5108906/195511992-ae76ff2c-d161-41be-9f9f-93a492c75c8b.png)

[2022-10-13 06:02] vitaly-t commented on #101
I'm closing this. There is no issue here. And iterator can be iterated only once. So when you create a new iterable from an iterator, it can also be iterated only once.

[2022-10-13 06:02] #101 closed

[2022-10-13 06:03] vitaly-t commented on #108
This task is now complete. Closing.

[2022-10-13 06:03] #108 closed

[2022-10-13 06:04] vitaly-t commented on #140
This has been resolved, closing now.

[2022-10-13 06:04] #140 closed

[2022-10-13 08:46] RebeccaStevens commented on #135
Isn't this expected as `1`, `2` and `3` are not iterable?

This should work though:

[code]

[2022-10-13 09:10] vitaly-t commented on #135
Yes, you are right. What actually confused me is that in v1.6.4 it would complain about incorrect input:

![image](https://user-images.githubusercontent.com/5108906/195554676-c58f15ce-6e39-4ffb-8f43-51e2d5e25e26.png)

But with v2.0.0-beta.6 it does not complain.

[2022-10-13 09:29] RebeccaStevens commented on #135
When I tried that code, it also complained just like it did in v1.6.4

![image](https://user-images.githubusercontent.com/7224206/195559225-b01523e6-882f-4381-9170-0b120438a598.png)

[2022-10-13 09:55] vitaly-t commented on #135
That's odd. I can see that error inside the library tests also, but not inside clients. Tried to clean up the cache - didn't help. Latest TypeScript, latest WebStorm, errors for v1.6.4, not for v2.0.0-beta.6

Any idea? :)

[2022-10-14 07:13] vitaly-t commented on #103
@RebeccaStevens Can we add the fix, please, if it is not there yet?

[2022-10-14 07:30] vitaly-t commented on #135
@RebeccaStevens If you are certain that there is no issue there, then feel free to close this issue ;)

[2022-10-15 03:18] vitaly-t opened #160 "2.0.0 checkpoints"
This is to track what's left before 2.0.0 is released.

* Check that all operators work and cast types as expected.
* Complete #103
* Complete #135

I'm sure there can be more to add or improve, but those won't be breaking changes, so can be added later.

@RebeccaStevens Anything else you can think of as necessary for 2.0.0 release?

[2022-10-15 05:34] vitaly-t opened #161 "Improve onEnd details"
Operator [onEnd](https://vitaly-t.github.io/iter-ops/functions/onEnd.html) can be improved with extra details about duration, by providing min/max duration, along with indexes of where those were reached.

This is to help locate deviations in iterable performance.

For example, have `duration` inside `IIterationSummary` of the following type:

[code]

This would be a breaking change, because `dura

[2022-10-15 07:18] vitaly-t commented on #161
This change now has been merged into `master`.

[2022-10-15 07:28] vitaly-t commented on #161
Updated [onEnd](https://vitaly-t.github.io/iter-ops/functions/onEnd.html) released in v2.0.0-beta.7

[2022-10-15 07:28] #161 closed

[2022-10-15 08:05] vitaly-t commented on #160
I added #161 later, as a breaking change, but it is already done and released in Beta 7.

[2022-10-15 13:54] vitaly-t opened #163 "timeout operator"
New operator `timeout` that ends iteration after a specified number of milliseconds:

[code]

@RebeccaStevens What do you think? :wink:

**UPDATE**

Previously, I thought this was achievable via operator [stop](https://vitaly-t.github.io/iter-ops/functions/stop.html), but then I realized it would not account for the time spent getting the first value, so it's no good.

This new operator simplifies

[2022-10-15 14:16] vitaly-t commented on #163
[Added implementation](https://github.com/vitaly-t/iter-ops/commit/f82c4fc0fecf2cd12c87aa8ad2483694e0995216) in branch `timeout` ;)

It just needs tests to finish fully.

[2022-10-15 14:34] vitaly-t commented on #163
I'm now thinking about, maybe, adding a second parameter - optional callback that's called only when the timeout was triggered.

[2022-10-16 08:43] vitaly-t commented on #163
The operator has been fully finished, and released with v2.0.0-beta.8

[2022-10-16 08:43] #163 closed

[2022-10-16 08:48] vitaly-t commented on #160
#163 Went in with Beta 8

[2022-10-16 09:05] vitaly-t commented on #160
@RebeccaStevens Do you think you can make time to review what's left as per the list above?

I really have my mind set for v2.0.0 release to happen today, with what we've got now... 😄

[2022-10-16 09:08] RebeccaStevens commented on #160
Sorry, I haven't been feeling well the last few days. I'll take a look at those issue now.

[2022-10-16 09:31] vitaly-t commented on #160
I'm very sorry to hear. Get better! 😉

[2022-10-16 09:33] RebeccaStevens commented on #103
PR opened

[2022-10-16 09:38] RebeccaStevens commented on #135
![image](https://user-images.githubusercontent.com/7224206/196028544-8bb64bb7-8ea0-4fe7-8e2c-a8cf5cda2012.png)

I'm getting the error, so I think everything is working as exoected.

[2022-10-16 09:38] #135 closed

[2022-10-16 09:52] #103 closed

[2022-10-16 09:53] vitaly-t commented on #103
Thank you!!!! 👍

[2022-10-16 10:00] vitaly-t commented on #160
@RebeccaStevens Ok, I'm all done here, ready to make v2.0.0 release. Are you ok with that or are you changing something now?

[2022-10-16 10:13] vitaly-t commented on #160
[Version 2.0.0 released](https://github.com/vitaly-t/iter-ops/releases/tag/2.0.0).

[2022-10-16 10:13] #160 closed

[2022-10-16 11:06] vitaly-t opened #166 "Remove IterationState from timeout"
I didn't give it sufficient thought when I added support for `IterationState` within the optional callback of operator `timeout`.

The callback function is not involved into the iteration, it is called only once, and only if timeout occurs.

I need to remove support `IterationState` from there, it is completely pointless in that context.

[2022-10-16 11:15] vitaly-t commented on #166
This is now fixed.

[2022-10-16 11:15] #166 closed

[2022-10-16 11:55] vitaly-t opened #167 "Add support for infinite timeouts"
Similar to operator `delay`, new operator `timeout` should support infinite timeouts when the delay is passed in as a negative number.

This will let you effectively deactivate the timeout without having to remove the operator from the pipeline.

[2022-10-16 12:17] vitaly-t commented on #167
Implemented.

[2022-10-16 12:17] #167 closed

[2022-10-17 09:20] vitaly-t commented on #128
@RebeccaStevens I have just suspended this thing, after having to revert `rollup-plugin-dts` dependency for the third time, as it keeps upgrading it to `5.0.0` which does not install correctly. I thought this thing would have been smarter than this...

[2022-10-17 09:21] vitaly-t commented on #128
And, therefore, closing it.

[2022-10-17 10:46] RebeccaStevens commented on #128
Renovate is configure via the [renovate.json](https://github.com/vitaly-t/iter-ops/blob/main/.github/renovate.json) file.
To prevent a certain package from updating, you need to configure [packageRules](https://docs.renovatebot.com/configuration-options/#packagerules). You can see an example of this in use [here](https://github.com/eslint-functional/eslint-plugin-functional/blob/main/.github/renov

[2022-10-17 11:51] vitaly-t commented on #128
Cheers! I've made that change now, and re-enabled `renovate`.

[2022-10-18 06:30] vitaly-t commented on #156
Thank you for looking into this!

The priority here is to get rid of the `async/await` syntax, because it slows things down quite a bit, or at least according to some tests I did in the past.

However, the whole issue isn't really a big deal, certainly not one to justify another major change. That's why I'd prefer to leave it without making any such big change, at least presently.

I appreciate al

[2022-10-18 07:43] vitaly-t commented on #33
Added some documentation examples for the [split operator](https://vitaly-t.github.io/iter-ops/functions/split.html).

[2022-10-19 05:57] vitaly-t commented on #143
As I first [mentioned it in discussion](https://github.com/vitaly-t/iter-ops/discussions/131), here's what I think it should be:

1. `pipe` should remain as is, taking a mixed type of iterable, and handling mixed type casting.
2. `pipeSync` should throw an error when passed an `async` input, but only when called directly from the client (not from `pipe`)
3. `pipeAsync` should automatically convert

[2022-10-27 12:33] vitaly-t opened #170 "Extend "last" operator with iteration state"
## Feature

Add support for `IterationState` to operator [last].

## Why?

Let's say we want to search for border values, like `min` / `max` inside an iterable. Because operator [last] doesn't support iteration state, like `filter` does, we have to use a combination of `filter` + `last`:

[code]

Once we have operator `last` support the iteration state, we will be able to simplify that example to

[2022-10-27 12:58] vitaly-t commented on #170
I'm adding the same `state` support to operator `first`, for consistency, which is the only other operator in the library missing it.

[2022-10-27 13:14] vitaly-t commented on #170
Implemented and released in [v2.1.0](https://github.com/vitaly-t/iter-ops/releases/tag/2.1.0).

Both `first` and `last` operators now support iteration state.

[2022-10-27 13:59] vitaly-t commented on #170
Just for completeness, here's an example of how one calculates an average value from iterable:

[code]

[2022-10-27 14:14] vitaly-t commented on #170
I have amended [Recipes](https://github.com/vitaly-t/iter-ops/wiki/Recipes) with [Border Values](https://github.com/vitaly-t/iter-ops/wiki/Recipes#border-values), to show all these useful examples in practice, and in one place.

[2022-10-27 16:49] vitaly-t opened #172 "Incorrect index passed in operator "reduce""
[code]

**Expected Output:**
`1 2 3 4 5`

**Actual Output**
`2 4 6 8 10`

As a test against the standard reduce...

* without initial value:

[code]

Outputs: `1 2 3 4 5`

* with initial value:

[code]

Outputs: `0 1 2 3 4 5`

[2022-10-27 19:30] vitaly-t commented on #172
This issue was fixed and released in v2.1.1

[2022-10-27 19:30] #172 closed

[2022-10-27 19:45] vitaly-t commented on #170
After #172 fix, I figured out how to get an average value by using just `reduce` operator:

[code]

[2022-10-27 19:50] vitaly-t commented on #170
This has been fully concluded.

[2022-10-27 19:50] #170 closed

[2022-10-27 21:04] vitaly-t commented on #170
@RebeccaStevens Are you still following this project or are you quits? You haven't followed anything, I pinged you for a week.

[2022-10-28 00:58] RebeccaStevens commented on #170
Sorry, I'm still here; just been busy lately. I'm currently moving house.

With regards to this issue, I think it is good to add `iteration state` purely because the other operators have support for it.

However, personally I'm with @Jason3S and don't really think it is needed.
For the example you gave of finding min/max values, I would simply use the reduce operator:

[code]

`iteration state` do

[2022-10-28 08:11] vitaly-t commented on #170
@RebeccaStevens Good example for min/max! But for calculating the average, for instance, state is required ;)

[2022-10-28 08:54] RebeccaStevens commented on #170
I'd probably write it something like this

[code]

Or using `aggregate`:

[code]

Or to be really fancy:

[code]

Where `lift` would be a new operator that would be defined like so:
`lift(f, g, h, ...)(x) <===> f(g(x), h(x), ...(x))`

[2022-10-28 09:37] vitaly-t commented on #170
That is a lot of examples, nice! :smile: Still the example I provided is the only one that relies on just one operator, and nothing else :wink:

Copied from [Border Values](https://github.com/vitaly-t/iter-ops/wiki/Recipes#border-values):

[code]

Also, one with the `aggregate` isn't great, as you end up accumulating all values from potentially an endless generator, which is bad for memory.

[2022-10-28 09:45] RebeccaStevens commented on #170
The `lift` one is probably my favorite; we should add a `lift` operator.

[2022-10-28 09:52] vitaly-t commented on #170
Is an existing implementation for operator `lift`? I want to understand its general usefulness.

[2022-10-28 09:56] RebeccaStevens commented on #170
Here's something that popped up after a quick Google: https://jrsinclair.com/articles/2019/compose-js-functions-multiple-parameters/

[2022-10-28 10:24] vitaly-t commented on #170
Interesting, I will look into it.

In the meantime, just added another example into [Border Value](https://github.com/vitaly-t/iter-ops/wiki/Recipes#border-values), for `min` + `max` example...

---

* To produce `min` + `max` values in a single iteration:

[code]

Note that in the above implementation, if your input has no values, you will correctly get `{min: undefined, max: undefined}`.

[2022-10-28 12:50] vitaly-t commented on #170
@RebeccaStevens That `lift` logic is the old `avelanche` pattern, and essentially what our pipe does, just with simple functions:

[code]

[2022-11-01 17:21] vitaly-t opened #177 "pipeSync should throw an error on any asynchronous input"
When [pipeSync] is called explicitly by the client, and passed an asynchronous iterable, it should throw an error:

[code]

...because this represents an implementation error.

Presently, the input type is only controlled at compile time, and the function erroneously produces an asynchronous output.

[pipeSync]:https://vitaly-t.github.io/iter-ops/functions/pipeSync.html

---

@RebeccaStevens I'm a

[2022-11-01 17:52] vitaly-t commented on #143
To address what's outstanding, I have opened [this issue](https://github.com/vitaly-t/iter-ops/issues/177).

[2022-11-01 23:00] vitaly-t opened #178 "pipeAsync should be able to accept Promise as input"
At the moment, we have to use [toIterable] when input is a promise. But for [pipeAsync] there is no reason not to do so automatically.

Function [pipeAsync] should allow `Promise` as input, and automatically call [toIterable] (internally):

[code]

---

@RebeccaStevens More fun, if you are interested ;)

[pipeAsync]:https://vitaly-t.github.io/iter-ops/functions/pipeAsync
[toIterable]:https://vital

[2022-11-04 14:03] vitaly-t opened #181 "Add async callback support to operator "reduce""
Most of operators that provide a callback support async result from it, where it may be useful.

There maybe cases when `reduce` could benefit from handling async callbacks also.

[2022-11-04 14:11] vitaly-t commented on #181
Closing, for now, because it creates questions like - should the initial value support a promise then also?

It does create some ambiguities, hence the reason why it wasn't supported from start.

[2022-11-05 23:55] vitaly-t opened #182 "Initial value delayed in waitRace operator"
Current implementation (v2.2.1) of the new operator [waitRace] delays initial resolution when the source is slower than the resolution speed.

The example below demonstrates that issue...

[code]

In the example, the first value is expected to be resolved after 1s, but instead it is resolved after 2s, i.e. waiting for the next value to be resolved first, which is wrong. Something is wrong in the i

[2022-11-06 17:11] vitaly-t commented on #182
[I have added a test](https://github.com/vitaly-t/iter-ops/blob/main/test/ops/wait-race/async.ts#L38) that can be uncommented once the fix is in place:

[code]

[2022-11-06 19:39] vitaly-t commented on #182
I have improved [the test](https://github.com/vitaly-t/iter-ops/blob/main/test/ops/wait-race/async.ts#L38) further, to make it more comprehensive.

[2022-11-07 16:10] RebeccaStevens commented on #178
So just took a look at this and it seems really easy to do.
Just a few details we need to sort on how it should work:

- Should it allow any promise or just promises that return an iterable (either sync or async)?
  - Allowing all promise types could be added in as single line (excluding typing updates).
    - Doing so would allow for single values to be used as iterable when returned by promises,

[2022-11-07 16:30] vitaly-t commented on #178
The result of `pipe(toAsync(promise))` must be consistent with `pipeAsync(promise)`. If we decide to extend what `toAsync` later, it would be another matter. For now, we just use the existing `toAsync` to provide consistent result.

[2022-11-07 17:03] #177 closed

[2022-11-07 18:54] vitaly-t commented on #182
I made a couple more attempts at fixing it, without success again. It would take a special inspiration to implement it properly, it seems.

@RebeccaStevens Could really use some help here, as I'm stuck with this issue.

[2022-11-07 18:55] RebeccaStevens commented on #182
Looking into it. I've kind of got it working but not really.

[2022-11-07 19:15] vitaly-t commented on #182
Well, if it can pass [the test](https://github.com/vitaly-t/iter-ops/blob/main/test/ops/wait-race/async.ts#L38), that's a good sign ;)

[2022-11-08 01:08] bergus commented on #182
Aw. It seems to work fine for me:
[code]

I'm sure it can. I'll try to come up with something.

[2022-11-08 02:04] bergus commented on #182
Here's what I'd do:
[code]

There may be a problem if the returned iterator is polled too fast (not waiting for the promise returned by `.next()` before calling it again), currently this will just go beyond the limit but I think that's the best (and easiest) way to handle this - a well-behaved consumer should never do this anyway.

[2022-11-08 02:51] vitaly-t commented on #182
@bergus Thank you!!! This does work, and passes the test that I created! 👍

@RebeccaStevens I have the latest, using what @bergus gave us, inside `182-bugfix` branch, which works perfectly.

It just needs some rework for proper types control, and that's it!

[2022-11-08 05:43] vitaly-t commented on #182
The code written by @bergus has been merged into the master, refactored somewhat.

Further refactoring is possible.

[2022-11-08 06:28] bergus commented on #182
Oh well. I write

but then actually that's exactly what the code does with `source`. If the promises contained in the `source` iterator resolve faster than the `source` iterator itself advanced, the `kickOffMore()` function will be called multiple times - and `source.next()` will be called again before the previous `source.next()` promise fulfilled.

This may require some more thought.

[2022-11-08 06:31] vitaly-t commented on #182
@bergus Thank you for your contribution! If you can improve the code further, you are very welcome!

[2022-11-08 11:51] RebeccaStevens commented on #178
What I'm getting at is the current `toIterable` supports more than just making promises iterable. It will also make single values into an iterable of one value.

If we simply use `toIterable`, we will be getting promise support but also other stuff; this would then make `pipeAsync` inconsistent with `pipeSync`.
Should `pipeSync` also get support for these other things or would it be better to make

[2022-11-08 14:51] vitaly-t commented on #178
You are right, there would be inconsistency, I forgot about simple values.

I think it is better then to close this issue, leave functionality as is.

[2022-11-08 14:51] #178 closed

[2022-11-08 15:19] vitaly-t commented on #182
In the meantime, the main issue has been addressed, so I am closing the issue. If something comes up again - we can open a new one ;)

Released in [v2.2.2](https://github.com/vitaly-t/iter-ops/releases/tag/2.2.2).

[2022-11-08 15:19] #182 closed

[2022-11-08 20:01] vitaly-t opened #186 "Operator waitRace should deactivate when cacheSize < 2"
At the moment, operator [waitRace] applies generic processing logic when `cacheSize` is < 2.

It should instead check if `cacheSize` < 2, if then deactivate fully, i.e. behave like operator [wait].

This is because there is no point applying all the complex processing logic to something that won't be able to change the output anyway, because the cache size of 1 does not permit any resolution racin

[2022-11-08 20:04] vitaly-t commented on #182
Open related update ticket - #186

[2022-11-08 21:51] vitaly-t commented on #182
@bergus I couldn't come up with a test that would make use of this piece of code:

[code]

Are you sure this section should ever execute? if so, how do you think it should be tested? I have added all the exception-throwing tests that I could think of, but none execute that code block.

[2022-11-08 21:55] vitaly-t commented on #186
Released in [v2.2.3](https://github.com/vitaly-t/iter-ops/releases/tag/2.2.3)

[2022-11-08 21:55] #186 closed

[2022-11-09 01:20] bergus commented on #182
Start with an actual async generator, instead of mapping a synchronous iterator to a promise :-)
`async function* oops() { yield 1; await sleep(10); throw new Error('boom'); }` will reject on the second `.next()` call.

[2022-11-09 01:51] vitaly-t commented on #182
@bergus Thank you!!! [This commit](async function* oops() { yield 1; await sleep(10); throw new Error('boom'); }) did it 😄

[2022-11-09 17:04] vitaly-t commented on #128
I'm for one used to updating dependencies before every release manually. And I do not like this bot polluting the project history with non-stop useless updates that are not needed.

I have switched it off again. Sorry!

[2022-11-09 19:44] vitaly-t commented on #181
@RebeccaStevens This one is actually a good exercise for the brain :wink:

So I am re-opening it.

[2022-11-09 20:21] vitaly-t commented on #181
b.t.w. what prompted me to get back to this was [this recent question](https://stackoverflow.com/questions/74347704/how-to-return-return-promise-from-array-reduce).

[2022-11-09 22:27] vitaly-t commented on #181
I think that in terms of functionality, all it takes is to replace [this line](https://github.com/vitaly-t/iter-ops/blob/main/src/ops/reduce.ts#L114) in async version:

[code]

with this one:

[code]

And that's it.

However, in terms of function signature types update, that's where I'm lost. I tried a few things, but they didn't look right. so I figured I'd leave the joy of types to yourself, as

[2022-11-10 17:15] vitaly-t commented on #61
Closing, because it won't happen, at least not in the near future.

[2022-11-10 17:15] #61 closed

[2022-11-10 17:15] #128 closed

[2022-11-11 01:11] RebeccaStevens commented on #143
I think for now we can mark this as done.
The majority of the happy-paths work.
To fix everything would probably require some fundamental restructuring of the library (if it's even possible).

[2022-11-11 01:42] vitaly-t commented on #143
Do we really have that many problems? 🤦‍♂️ I thought you did full restructuring :smile:

What about that `flatMap` declaration? It doesn't look right to me, it's callback is supposed to allow promises, but it does not, while the implementation has it.

[2022-11-11 02:06] RebeccaStevens commented on #143
The type issues should only show up when you go looking for them (such as sync operations working with async types (e.g. accepting promises)).

I'll look into that `flatMap` one.

[2022-11-11 02:47] #181 closed

[2022-11-11 02:57] vitaly-t commented on #181
[Added a little refactoring](https://github.com/vitaly-t/iter-ops/commit/50269b8013dbc221f4b89660111346222a53ef48).

[2022-11-11 03:03] vitaly-t commented on #143
Great, I'll wait for this one before making another release :wink:

[2022-11-11 22:04] vitaly-t commented on #143
Ok, I have published v2.3.0 with everything as is. This issue with `flatMap` can be addressed in the next update.

[2022-11-19 04:00] vitaly-t commented on #156
Finished rewriting operator `concat`, merged into `master`.

[2022-11-19 04:29] vitaly-t commented on #156
P.S. Oddly enough, my WebStorm UI fails to detect iterable type correctly when we have more than 2 `concat` parameters, as shown below... even though our own test seems to pass there.

![image](https://user-images.githubusercontent.com/5108906/202834047-c3b648d1-e957-46c6-ba43-1d4ffa41d498.png)

[2022-11-19 20:17] vitaly-t commented on #156
[Version 2.3.2](https://github.com/vitaly-t/iter-ops/releases/tag/2.3.2) now has rewritten version of [concat](https://vitaly-t.github.io/iter-ops/functions/concat.html).

[2022-11-19 21:52] vitaly-t commented on #156
[Version 2.3.3](https://github.com/vitaly-t/iter-ops/releases/tag/2.3.3) now has rewritten version of [defaultEmpty](https://vitaly-t.github.io/iter-ops/functions/defaultEmpty.html).

[2022-11-20 00:49] vitaly-t opened #193 "start vs stop logic inconsistency"
We may have a bit of issue (or not) with the inconsistency: [start] logic is inclusive, while [stop] is exclusive, i.e. we start from the element that passes the predicate, but we stop with the element that's prior to the predicate that passed.

Should they not be both inclusive or exclusive?

@RebeccaStevens What do you think?

[start]:https://vitaly-t.github.io/iter-ops/functions/start
[stop]:ht

[2022-11-20 01:13] vitaly-t commented on #193
I've tried to compare the logic to RXJS:

* `takeWhile` is exclusive
* `skipWhile` is inclusive

So that doesn't help.

[2022-11-20 01:45] vitaly-t commented on #193
The problem that I'm seeing now is linguistic. It makes perfect sense why `skipWhile` logic produces inclusive result, and why `takeWhile` produces exclusive result. But with the `start` and `stop` operators it is absolutely not clear, and you can assume it either way.

This drives me to the idea of adding `skipWhile` + `takeWhile`, and retiring `start` and `stop` operators.

[2022-11-20 03:07] vitaly-t commented on #193
### new operators have been added, and now in master:

* Operator `skipWhile` added, and operator `start` marked `deprecated`
* Operator `takeWhile` added, and operator `stop` marked `deprecated`

[2022-11-20 03:25] vitaly-t commented on #193
[v2.4.0](https://github.com/vitaly-t/iter-ops/releases/tag/2.4.0) now has the new operators.

The old operators will be removed in v3.0.0, as it will be a breaking change.

[2022-11-20 03:41] vitaly-t commented on #193
**TODO:** Need to revisit the inclusive/exclusive logic added by `skipUntil` and `takeUntil`, to see if they are needed.

[2022-11-20 06:35] vitaly-t commented on #193
I did not feel sure about this, so I have [posted a question](https://stackoverflow.com/questions/74505901/while-and-until-logic-inclusive-or-exclusive).

[2022-11-20 08:08] vitaly-t commented on #193
Looks like my assumption was correct after all, and `until` must be treated as `check after`, which makes `takeUntil` inclusive, and `skipUntil` exclusive.

[2022-11-20 11:55] vitaly-t commented on #193
New operator `takeUntil` merged into the master.

[2022-11-20 12:57] vitaly-t commented on #193
New operator `skipUntil` merged into the master.

[2022-11-20 13:12] vitaly-t commented on #193
v2.5.0-beta.0 released with all 4 new operators.

[2022-11-20 22:52] #193 closed

[2022-11-21 00:29] vitaly-t commented on #193
[v2.5.0 release](https://github.com/vitaly-t/iter-ops/releases/tag/2.5.0) completed this task.

[2022-11-27 17:37] vitaly-t opened #200 "Operators "wait" and "waitRace" should simply forward in sync mode"
Now that I have spent some time writing custom operators - see [iter-ops-extras](https://github.com/vitaly-t/iter-ops-extras), it has become evident that operator [wait] throwing an error when inside a synchronous pipeline creates a limitation for custom operators.

There are cases when a custom operator supports an asynchronous callback, and needs to make use of `wait` regardless of the pipeline

[2022-11-28 04:54] vitaly-t opened #203 "Post-merge issues of decoupling the interface"
This is to address issues after PR #202, as a major rework of the architecture.

@RebeccaStevens Let's address any and all issues of that merge here, rather than the PR itself.

[2022-11-28 05:23] vitaly-t commented on #200
Released this change in [v2.7.0](https://vitaly-t.github.io/iter-ops/functions/wait.html).

[2022-11-28 05:23] #200 closed

[2022-11-28 05:34] vitaly-t commented on #203
I really wish I merged that big change into a dev branch, shouldn't code when falling asleep :smile:

I needed a solid version, with the #200 change, so here what I did today:

* Cleaned up the list of branches, by deleting all the obsolete crap and merged ones. I even deleted `develop` branch.
* Created new branch `dev` from my last commit for #200, just before merging the decouple PR.
* Released

[2022-11-28 09:48] RebeccaStevens commented on #203
I've updated dev to have the new changes.
If you run this, it should get main back to where you want it.

[code]

[2022-11-28 09:51] vitaly-t commented on #203
Just tried it, `git reset --hard 2.7.0`  produces:

[2022-11-28 09:52] RebeccaStevens commented on #203
Does 2.7.0 show up when you run `git tag --list`?

[2022-11-28 09:54] vitaly-t commented on #203
It does not, 2.6.1 comes up as the latest, which is odd, because I can see 2.7.0 in the list of tags on the website...

![image](https://user-images.githubusercontent.com/5108906/204247893-adf40b95-bbd9-4b4d-b4a4-7884ebf03155.png)

[2022-11-28 09:54] RebeccaStevens commented on #203
Try

`git fetch --all --tags`

[2022-11-28 09:56] vitaly-t commented on #203
That did it,...will release the direct commit hook now, and try again :)

[2022-11-28 09:56] RebeccaStevens commented on #203
With regard to the documentation, there seems to be a bunch of "references" for types that are exported by multiple namespaces. It seems the `async` namespace is getting them as first-class entries while the `index` and `sync` namespaces just reference the `async` ones. I don't know if there's a way to make is so the `index` namespace is the one that gets them as first-class entries or not.

One s

[2022-11-28 09:59] vitaly-t commented on #203
Branch re-basement finished, looks good, cheers!

[2022-11-28 10:06] RebeccaStevens commented on #203
This code should work in with `2.7.0-beta.0`.

[code]

Note: If you are using TypeScript, you'll need to set `moduleResolution` to either `Node16` or `NodeNext` to get the types to resolve properly.

[2022-11-28 10:22] vitaly-t commented on #203
So how is it going to work inside web browsers?

[2022-11-28 10:29] RebeccaStevens commented on #203
In what regard? web browsers don't need type information.

[2022-11-28 10:30] vitaly-t commented on #203
Angular, for example sets `"moduleResolution": "node",` If I change it, resolution becomes broken for all Angular modules.

[2022-11-28 10:33] vitaly-t commented on #203
Also, if the library requires tweaking `tsconfig` manually after installation, it'll likely drive developers away.

[2022-11-28 10:36] RebeccaStevens commented on #203
So `"moduleResolution": "Node16"` is the newer way of doing things.

[AngularJS support has officially ended as of January 2022](https://github.com/angular/angular.js#:~:text=AngularJS%20support%20has%20officially%20ended%20as%20of%20January%202022) so AngularJS might not ever support `"moduleResolution": "Node16"`.

In this case, you'd need to do things to other (older) way.

[code]

[2022-11-28 10:43] vitaly-t commented on #203
I wasn't talking about the ancient AngularJS, but the modern Angular v15, which is a totally different thing these days :)

b.t.w. That's my primary tool for Web. I'm an Angular specialist ;)

[2022-11-28 10:45] RebeccaStevens commented on #203
So that code example in my previous comment should work for you for now until that linked issue is resolved.

[2022-11-28 10:54] vitaly-t commented on #203
I just redid my tests against the very latest Angular, and it behaves differently again...

Now setting `"moduleResolution": "NodeNext",` does nothing.

And for some reasons it wants to find things inside `iter-ops/dist/async`, as shown below, from which pipe types are casted incorrectly...

![image](https://user-images.githubusercontent.com/5108906/204260117-e44a04a0-0103-4df0-a6a5-07fb145f0190.p

[2022-11-28 11:13] RebeccaStevens commented on #203
Here's the way it should be able to be imported:

Option 0 - No changes:

`"moduleResolution": "Node"`
[code]

Option 1 - Classic resolution to access the new namespaces:

`"moduleResolution": "Node"`
[code]

Option 2 - Modern resolution to access the new namespaces:

`"moduleResolution": "Node16"`
[code]

Option 3 - Access the internals to access the new namespaces:

`"moduleResolution": "Node"`

[2022-11-28 11:14] vitaly-t commented on #203
I'm not sure how we are going to proceed here, I'm just gonna leave it in your hands, for now. Version 2.7.0 installs and works without any issues everywhere, and we should have the same expectation for this branch, which is currently not the case, as far as I can see it...

For the time being, I might just focus on something simpler... like picking some operator from [custom operators](https://gi

[2022-11-28 13:07] RebeccaStevens commented on #203
You should be able to use the library exactly the same as you could before.
The new changes are an optional alternative way to do things.

[2022-11-28 14:04] RebeccaStevens commented on #203
I just updated the tests and fixed up a few bugs that were revealed when doing so.
Do you want to release a new beta? `3.0.0-beta.0`

[2022-11-28 14:05] vitaly-t commented on #203
What are the breaking changes? Trying to figure out if 2.8.0-beta.0 would be more appropriate...

[2022-11-28 14:13] RebeccaStevens commented on #203
They are very minor ones. I might even be able to remove them and make it so there aren't any.

The type `UnknownIterableOrIterator` no longer exists.

Other than that, there may not actually be any. The other major changes I made don't actually seem to be publicly visible. `2.8.0-beta.0` might be the better choice.

[2022-11-28 14:19] vitaly-t commented on #203
`2.8.0-beta.0` published ;)

[2022-11-29 01:48] mattbishop opened #204 "toIterable() fails with completed iterators"
I have a case where I need to wrap a possibly-completed iterator as an iterator to pipe() through some other things. I know the result will be an empty iterator, but I don't have a way to test for this before building the pipe() chain.

In debugging, I found that toIterable() calls a typeguard function isIteratorResult: https://github.com/vitaly-t/iter-ops/blob/35bc52e6844ad217ea30a95d1a0c48be479d

[2022-11-29 06:26] vitaly-t commented on #204
It may be argued that `isIteratorResult` should return `return has(value, 'value') || has(value, 'done')`, however the bug is triggered by `has` implementation, which returns false for `value: undefined`, which is definitely incorrect.

The proper syntax goes like this: `value` must be always present, and `done` is optional. However, all JavaScript implementations feature both at all times, i.e. t

[2022-11-29 07:06] vitaly-t commented on #204
@RebeccaStevens b.t.w., you have this comment inside `has` - `// Cannot use `in` operator as it doesn't work for strings.`

Perhaps [hasOwnProperty](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/hasOwnProperty) is usable for this? ;)

[2022-11-29 10:30] RebeccaStevens commented on #204
`Object.prototype.hasOwnProperty` (or `Object.hasOwn`) is usually my go to for this, but it doesn't work in this case.
In general, we need to know if the object has the key, regardless of if it's direct or inherited. Not for the case of `isIteratorResult`, but for the other functions such as `isSyncIterable` and `isPromiseLike`.
Additionally, that function doesn't work for symbols (`Object.getOwnP

[2022-11-29 10:45] vitaly-t commented on #204
[v2.8.0-beta.2](https://github.com/vitaly-t/iter-ops/releases/tag/2.8.0-beta.2) now contains the fix.

I'm gonna play a little with the new [concurrencyFork](https://vitaly-t.github.io/iter-ops/functions/concurrencyFork) operator within [iter-ops-extras](https://github.com/vitaly-t/iter-ops-extras), to make sure it is as every bit as good as I was expecting, and then will make a proper 2.8.0 relea

[2022-11-29 10:51] RebeccaStevens commented on #204
It looks good. I'll have a more in-depth look at it a bit later.

[2022-11-29 12:15] vitaly-t commented on #204
The fix for this was released in [v2.8.0](https://github.com/vitaly-t/iter-ops/releases/tag/2.8.0).

@RebeccaStevens I tested it out (`concurrencyFork`) thoroughly, and it was good, so I have released it ;)

[2022-11-29 12:15] #204 closed

[2022-11-29 14:18] mattbishop commented on #204
Verified fix in 2.8.0. Thanks!

[2022-11-29 18:20] vitaly-t opened #208 "Operator concurrencyFork should handle pipeline-construction errors"
This feature is a follow-up on the new operator [concurrencyFork], to make it handle any errors that a custom operator may throw during the pipeline construction, i.e. during [concurrencyFork] callback.

Normal error handling in this library is done via operator [catchError], which however can only handle iteration-time errors. This feature is to handle pipeline construction-time, and turn them in

[2022-11-29 18:52] vitaly-t commented on #208
Implemented and released in version 2.8.1

[2022-11-29 18:52] #208 closed

[2022-11-30 12:59] vitaly-t commented on #203
I took some time going over the `dev` branch, and the custom operators PR, plus tried to play with it locally...

I honestly do see this as an improvement. It might offer better type casting (I'm guessing here), but it replaces the plain `operator` syntax with `sync.operator` and `async.operator` syntax, and splits a single-file implementation into 3-4 files, with essentially repeated implementati